.scoreCard {
    color:#333;
    border:1px solid #E2EDC0;
    -webkit-border-radius:3px;
    -mox-border-radius: 3px;
    border-radius: 25px 0 25px 0;
    margin-bottom:15px;
    padding: 15px 0
}

.holeNumber {
    display: inline-block;
    border-radius: 50%;
    background-color: #BADA55;
    height: 2.5em;
    width: 2.5em;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    line-height: 2.5em;
    top: 0.313em;
    left: 1.75em;
    text-align: center;
}

.holeDetails {
    background-color: #E2EDC0;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.holeScore {
    font-size:18px;
    width:100px;
    font-weight:bold;
    color:#686F52;
    border: 0;
    text-align: center;
}

.teeShot {
    font-size: 18px;
    text-align: center;
}

input {
    text-align: center;
}

form {
    display: inline-block;
}

.scoreLegend {
    list-style: none;
    position: relative;
    right: 8px;
    top: 0;
}
.scoreLegend li {
    display: block;
    padding-left: 30px;
    position: relative;
    margin-bottom: 4px;
    border-radius: 5px;
    padding: 2px 8px 2px 28px;
    font-size: 14px;
    cursor: default;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}
.scoreLegend li:hover {
    background-color: #fafafa;
}
.scoreLegend li span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 100%;
    border-radius: 5px;
}

.accuracyLegend {
    list-style: none;
    position: relative;
    right: 8px;
    top: 0;
}
.accuracyLegend li {
    display: block;
    padding-left: 30px;
    position: relative;
    margin-bottom: 4px;
    border-radius: 5px;
    padding: 2px 8px 2px 28px;
    font-size: 14px;
    cursor: default;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}
.accuracyLegend li:hover {
    background-color: #fafafa;
}
.accuracyLegend li span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 100%;
    border-radius: 5px;
}

#donutCharts {
    margin: 2.5em auto;
}

#averageScore {
    text-align: center;
    position:relative;
    width:70%;
    height:200px;
    background:#FFF;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    /*margin-left: .625em;*/
    /*margin-right: -.625em;    */
    -webkit-box-shadow: -2px 4px 35px 2px rgba(0,0,0,0.35);
    -moz-box-shadow: -2px 4px 35px 2px rgba(0,0,0,0.35);
    box-shadow: -2px 4px 35px 2px rgba(0,0,0,0.35);
    border-radius: 100px 100px 100px 100px;
    -moz-border-radius: 100px 100px 100px 100px;
    -webkit-border-radius: 100px 100px 100px 100px;
    border: 1px hidden #000000;
}

#averageScore h2 {
    margin-bottom: -.625em;
}

#averagePutts {
    text-align: center;
    position:relative;
    width:70%;
    height:200px;
    background:#FFF;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    /*margin-left: .625em;*/
    /*margin-right: -.625em;*/
    -webkit-box-shadow: -2px 4px 35px 2px rgba(0,0,0,0.35);
    -moz-box-shadow: -2px 4px 35px 2px rgba(0,0,0,0.35);
    box-shadow: -2px 4px 35px 2px rgba(0,0,0,0.35);
    border-radius: 100px 100px 100px 100px;
    -moz-border-radius: 100px 100px 100px 100px;
    -webkit-border-radius: 100px 100px 100px 100px;
    border: 1px hidden #000000;
}

#averagePutts h2 {
    margin-bottom: -.625em;
}

#greens {
    text-align: center;
    position:relative;
    width:70%;
    height:200px;
    background:#FFF;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    /*margin-left: .625em;*/
    /*margin-right: -.625em;    */
    -webkit-box-shadow: -2px 4px 35px 2px rgba(0,0,0,0.35);
    -moz-box-shadow: -2px 4px 35px 2px rgba(0,0,0,0.35);
    box-shadow: -2px 4px 35px 2px rgba(0,0,0,0.35);
    border-radius: 100px 100px 100px 100px;
    -moz-border-radius: 100px 100px 100px 100px;
    -webkit-border-radius: 100px 100px 100px 100px;
    border: 1px hidden #000000;
}

#greens h2 {
    margin-bottom: -.625em;
}

#mainButtons {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    margin-left: 40%;
}

.box h3{
    text-align:center;
    position:relative;
    top:80px;
}
.box {
    width:70%;
    height:200px;
    background:#FFF;
    margin:40px auto;
}