<h1>Here is where the stats would display.</h1>

<div ng-controller="StatController">
    <h1>Average Score: {{total}}</h1>
    <h1>Double Eagles: {{doubleEagles}}</h1>
    <h1>Eagles: {{eagles}}</h1>
    <h1>Birdies: {{birdies}}</h1>
    <h1>Pars: {{pars}}</h1>
    <h1>Bogeys: {{bogeys}}</h1>
    <h1>Double Bogeys: {{doubleBogeys}}</h1>
    <h1>Tee Shots Left: {{percentageLeft}}%</h1>
    <h1>Tee Shots Center: {{percentageCenter}}%</h1>
    <h1>Tee Shots Right: {{percentageRight}}%</h1>
    <h1>Putt Average: {{puttAverage}}</h1>
</div>
